*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

:root {
  --bg-primary-color: #0c0c0c;
  --text-primary-color: #f3f2f2;
  --border-color: rgb(72, 72, 72);
  --bg-fill-color: #fdfdfc;
  --bg-food-color: red;

  --space-xs: 2px;
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 32px;
  --border-radius-2xl: 40px;
  --border-radius-3xl: 48px;

}

main,section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
} 

.infos {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-2xl);
}

.info {
  padding: var(--space-md) var(--space-xl);
  border: 1px solid var(--text-primary-color);
  border-radius: var(--border-radius-md);
}

.board {
  height: 85%;
  padding: 0 var(--space-xl);
}

.board .grid {
  height: 95%;
  border: 1px solid var(--text-primary-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

.grid .block { 
  /* height: 30px; width: 30px; */
  /* border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color); */
  border-radius: var(--border-radius-xl);
}

.fill { background-color: var(--bg-fill-color);}
.food { background-color: var(--bg-food-color);}

.modal {
  height: 100vh; width: 100vw;
  background-color: #0c0c0c81;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .start-game, .modal .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
}

.modal .game-over { display: none;}

.btn {
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover { transform: scale(1.1);}